.shop {
    padding-top: 10%;
}

.shop h1 {
  text-align: center;
  padding-bottom: 3%;
  font-style: italic;
  font-size: 3.5em;
  font-family: 'Open Sans', sans-serif;
  color: rgb(212,56,56);
}

.shop ul div{
  color: white;
  display: inline;
  font-size: 1.5em;
  text-align: left;
}

.cart li {
  display: inline;
}

.receipt {
  border: 2px solid;
  min-height: 45%;
  width: 70%;
  margin-left: 15%;
}

#description {
  border-bottom: 2px solid;
  min-height: 45%;
  margin-left: 20%;
}

#price {
  border-bottom: 2px solid;
  min-height: 45%;
  margin-left: 12%;
}

#quantity {
  border-bottom: 2px solid;
  min-height: 45%;
  margin-left: 12%;
}

#total {
  border-bottom: 2px solid;
  min-height: 45%;
  margin-left: 12%;
}

.subtotal {
  border: 2px solid;
  margin-bottom: 20%;
  min-height: 5%;
  width: 70%;
  margin-left: 15%;
}

#checkout {
  float: right;
  margin-right: 1em;
  margin-top: .2em;
}

#subtotal {
  float: right;
  margin-right: 5em;
}

