* {
  margin: 0;
}
html, body {
  height: 100%;
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
}

nav li {
  float: right;
}

nav {
  background-color: rgb(129,126,89);
  border-bottom: 2px solid;
  margin-bottom: 0;
  /*position: fixed;*/
  width: 100%;
  z-index: 10;
  height: auto;
}

nav a:link, a:visited {
  display: block;
  width: 120px;
  font-family: 'Droid Serif', serif;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(38,33,29);
  background-color: rgb(129,126,89);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover, a:active {
  background-color: rgb(184,176,152);
}

.nav__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display: inline;
}

#logo {
  display: block;
  float: left;
  width: auto;
}

h3 {
  font-style: italic;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  color: rgb(212,56,56);
}

footer h3 {
  text-align: center;
  font-size: 2em;
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: black;
}

footer p {
  font-size: 1.5em;
  text-align: center;
}

footer .row {
  margin-left: 0;
  margin-right: 0;
}

.footer {
  margin-top: 2em;
  border: 2px solid;
  margin-bottom: 0;
  min-height: 50%;
  position: absolute;
  padding-left: 0;
  width: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap:after {
  /* .push must be the same height as footer */
}

.footer {
  background-url: http://api.thumbr.it/whitenoise-361x370.png?background=4ea6caff&noise=626262&density=15&opacity=15;
  /*The above line is incorrect: what are you attempting to do?  -Jason*/
  background: rgb(234,219,200);
}

#inner {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

.slider-image-box {
  background-color: green;
  height: 200px;
}

.product-image-box {
  float: left;
  display: inline;
  width: 160px;
  height: 160px;
  background-image: url(placeholder-160x160.jpg);
  margin: 0;
}

.receipt-area {
  position: absolute;
  right: 0;
  display: inline;
  width: 320px;
  height: 640px;
  background-color: purple;
}
